@import "../variables";

.post {
  background: #e3e3e3;
  padding: 50px 0;
  &__item {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    &-block {
      flex-basis: 100%;
      margin: 2% 2%;

      display: block;
      @media (min-width: 320px) {
        flex-basis: 100%;

      }
      @media (min-width: 475px) {
        flex-basis: 90%;

      }
      @media (min-width: 768px) {
        flex-basis: 43%;

      }
      @media (min-width: 992px) {
        flex-basis: 29%;

      }
      &-img {
        & img {
          width: 100%;
        }
      }
      &-bt {
        & a {
          width: 135px;
          height: 39px;
          border: 2px solid #3e3d3d;
          display: block;
          text-align: center;
          padding: 5px;
          color: #3e3d3d;
          font-family:  $text-Montserrat;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 1.47px;
          margin-top: 30px;
          &:hover {
            transition: .8s ease-out;
            transform: scale(1.1);
            box-shadow: 0 5px 50px #3e3d3d;
            color: #3e3d3d;
          }
        }
      }
      &-content {
        & h3 {
          color: #3e3d3d;
          font-family: $text-Montserrat;
          font-size: 16px;
          font-weight: 700;
          margin: 15px 0;
          text-transform: uppercase;
          letter-spacing: 1.81px;
        }
        & h4 {
          color: #3e3d3d;
          font-family: $text-crimson;
          font-size: 14px;
          font-style: italic;
          line-height: 18px;
        }
        & p {
          color: #3e3d3d;
          font-family: $text-crimson;
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 1.4px;
        }

      }
      &-about {
        display: flex;
        justify-content: end;
        margin: 0;
        color: #818181;
        font-family: $text-crimson;
        font-size: 14px;
        font-style: italic;
        & div {
          margin: 0 10px 0 0;
          display: flex;
          justify-content: end;
          align-items: baseline;
          & p {
            padding: 0 10px;
          }
        }
      }
    }
  }
}