@import "../variables";

.home__blog-view-bg {
  background: url("../img/bg_view.png") center no-repeat;
  background-size: cover;
}

.text-p-interval-blog-with {
  margin: 20px 0 !important;
}

.text-border-blog-with {
  border: 2px solid #a8a8a8;
  width: 100%;
  padding: 40px 20px;
  margin: 40px 0;
  & p {
    color: #3e3d3d;
    font-family: $text-crimson;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 25px;
    letter-spacing: 1.6px;
  }
}

.link-blog-with {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border-top: 1px solid #b7b7b7;
  border-bottom: 2px solid #b7b7b7;
  padding: 20px 0;
  & a {
    margin: 0 10px;
    opacity: .5;
    &:hover {
      opacity: 1;
      transition: .8s ease-out;
      transform: scale(1.2);
      overflow: hidden;
    }
  }
}

.coments-blog-with {
  margin: 30px 0;
  &-text {
    margin: 0 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid #b7b7b7;
    @media (max-width: 568px) {
      margin-left: 10px;
    }
    .reply {
      float: right;
      position: relative;
      top: 40px;
      opacity: .7;
      font-family: $text-crimson;
      font-size: 14px;
      font-style: italic;
      & img {
        margin-right: 10px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &-form {
    margin: 80px 0;
    & form {
      width: 100%;
      & input {
        width: 48%;
        @media (max-width: 992px){
          width: 45%;
        }
        @media (max-width: 559px){
          width: 100%;
        }
      }
      & textarea {
        width: 98%;
        @media (max-width: 992px){
          width:93%;
        }
        @media (max-width: 559px){
          width: 100%;
        }
      }
    }
  }
}

.coments-one-blog-with {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &-img {
    & img {
      max-width: 80px;
      border-radius: 200px;
    }
  }

}

.two-coments {
  margin-left: 90px;
  @media (max-width: 568px) {
    margin-left: 20px;
  }
}

.font-size-13 {
  font-size: 13px !important;
  margin: 0 !important;
  line-height: 30px;
}