@import "variables";
.carousel-inner {
  overflow: inherit !important;
}
.contacts {
  background: url("../img/bg_contact.png") center no-repeat;
  background-size: cover;
  padding-top: 50px;
  &_link {
    & a {
      margin: 5px;
      & img {
        &:hover {
          transition: .8s ease-out;
          transform: scale(1.5);

        }
      }
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__info {
    width: 30%;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    @media (max-width: 768px) {

    }
    & div {
      @media (max-width: 768px) {
        margin: 10px;
      }
    }
    & p {
      color: #949494;
      font-family: $text-crimson;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.31px;
    }
    & h3 {
      color: #e3e3e3;
      font-family: $text-Montserrat;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.47px;
    }
  }
  &__input {

    color: #949494;
    font-family: $text-crimson;
    font-size: 14px;
    font-style: italic;
    display: flex;
    & form {
      & div {
        @media (max-width: 768px) {
          display: flex;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 490px) {
      flex-direction: column;
    }
    & textarea {
      padding: 20px;
      width: 615px;
      height: 99px;
      border: 2px solid #464646;
      background: none;
      margin: 5px;
      color: white;
      font-size: 20px;
      font-family: $text-Montserrat;
      @media (max-width: 992px) {
        width: 460px;
      }
      @media (max-width: 490px) {
        width: 223px;

      }
    }
    & input {
      width: 300px;
      height: 58px;
      border: 2px solid #464646;
      background: none;
      padding: 20px;
      margin: 5px 5px;
      color: white;
      font-size: 20px;
      font-family: $text-Montserrat;
      @media (max-width: 992px) {
        width: 223px;
        height: 50px;
      }
    }
    & button {
      width: 137px;
      height: 42px;
      background-color: #464646;
      border: none;
      margin: 5px;
      color: #e3e3e3;
      font-family: $text-Montserrat;
      font-size: 13px;
      font-weight: 700;

      &:hover {
        transition: .8s ease-out;
        transform: scale(1.1);
        box-shadow: 0 5px 50px #e3e3e3;
        background: #e3e3e3;
        color: #3e3d3d;

      }
    }
  }
}

.hr_line {
  height: 1px;
  background-color: #3e3e3e;
}

footer {
  color: #949494;
  font-family: $text-crimson;
  font-size: 14px;
  font-style: italic;
  line-height: 20.31px;
  padding: 20px 0;
}