@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:400,400i,700,700i');

@font-face {
  font-family: 'Amsdam';
  src: url(../fonts/Amsdam.ttf);
}

@import 'variables';
@import "carusel";
@import 'container/_container.scss';
@import 'link/link';
@import 'header/header';
@import 'menu-list/menu-list';
@import 'button/button';
@import 'hamburger/hamburger';
@import "home/home";
@import "about";
@import "services";
@import "history";
@import "team";
@import "portfolio";
@import "prices";
@import "locking";
@import "blog";
@import "clients";
@import "reviews";
@import "map";
@import "contacts";
@import "blog/home_blog";
@import "blog/post";
@import "blog-with/post-with";
@import "blog-with-sidebar/blog-view";

.holder {
  &:hover {
    .team__comand-item-block {
      display: block;
      padding: 10px;
    }
  }
}

.b-container {
  text-align: center;
  font-size: 30px;

  @media (min-width: 768px) {
    display: none;
  }
  & a {
    display: block;
    color: #3e3d3d;
    font-family: $text-Montserrat;
    font-size: 13px;
    font-weight: 700;
    width: 135px;
    height: 39px;
    border: 2px solid #3e3d3d;
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    margin: 0 auto;
    &:hover {
      transition: .8s ease-out;
      transform: scale(1.3);
      box-shadow: 0 5px 50px #d4d4d4;
      background: #d4d4d4;
      color: #3e3d3d;
    }
  }
  &-white {
    border: 2px solid rgba(201, 200, 200, 0.5) !important;
    color: white !important;
    margin: 10px;
  }
}
.rara{
  display: block;
  margin-bottom: 10px;
}
.b-popup {
  width: 100%;
  &-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
  }
  @media (min-width: 768px) {
    display: block !important;
  }
}

.close_popup {
  font-size: 50px;
  border: 2px solid #3e3d3d;
  padding: 0 20px;
  border-radius: 99px;
  display: block;
  position: absolute;
  top: 23px;
  left: 5px;
  text-decoration: none;
  font-family: $text-Montserrat;
  color: #3e3d3d;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  @media (min-width: 768px) {
    display: none;
  }
}

#popup1 #popup2 #popup3 #popup4 #popup5 #popup6 {
  @media (min-width: 768px) {
    display: none;
  }
}

.bt_home {
  color: #ffffff;
  font-family: $text-Montserrat;
  font-size: 15px;
  font-weight: 400;
}

#back-top {
  position: fixed;
  bottom: 0;
  right: 30px;
  & a {
    color: #111111;
    width: 50px;
    height: 20px;
    font-size: 30px;
    padding: 0;
    background: rgba(0, 0, 0, 0.25);
    display: block;
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
    &:hover {
      width: 50px;
      height: 50px;
      background: rgba(0, 0, 0, 0.5);
      transition: all linear 0.2s;
      font-size: 30px;
      padding: 0;
    }
  }
}

.bt_view-change {
  background: #e3e3e3;
  &-border {
    display: flex;

    color: #3e3d3d;
    font-family: $text-Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.47px;
    margin-top: 5px;
    width: auto;
    & a {
      border: none;
      background: none;
      margin: 0 5px;
      opacity: .5;
      &:hover {
        cursor: pointer;
        transition: .3s ease-out;
        opacity: 1;
        color: #3e3d3d;
      }

    }

  }
}

.hidden {
  display: none
}

