$font-roboto: 'Roboto', sans-serif;
$font-damian:  'Open Sans', sans-serif;
$colot-text: #fff;
$colot-text-1: #74c7d5;
$colot-text-2: #ffcccf;
$colot-text-3: #fefefe;
$size-60px: 60px;
$size-50px: 50px;
$size-48px: 48px;
$size-30px: 30px;
$size-26px: 26px;
$size-25px: 25px;
$size-20px: 20px;
$size-18px: 18px;
$size-16px: 16px;
$size-14px: 14px;
