@import "variables";

header {
  @media screen and (max-width: 991px){
    padding: 1rem 0 20px !important
  }
}
.st-brand {
 & img {
   &:hover {
     opacity: 0.5;
   }
 }
}

.st-navbar {
  padding: 0 !important;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}

.st-color-link {
  padding: 2.5rem 1rem 20px !important;
  color: $colot-text !important;
  font-family: $font-roboto;
  font-size: $size-18px;
  font-weight: 400;
  @media screen and (max-width: 992px) {
    padding: .5rem 1rem !important;
  }
  &:hover {
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}