@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Roboto');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import "header";
@import "home/home-wrapper";
@import "home/slider";
@import "services/services-wrapper";
@import "services/services-conteiner";
@import "about/about-wrapper";
@import "about/about-conteiner";
@import "work/work-conteiner";
@import "work/work-wrapper";
@import "contacts/contacts-conteiner";
@import "contacts/contacts-wrapper";
@import "variables";
