@import "../variables";

.contacts-wrapper {
  background: #81a256 url("../../img/contacts/bg.png") center center no-repeat;
  background-size: cover;

}

.st-color-link-contacts {
  &:hover {
    background: #82c8bd !important;
    @media screen and (max-width: 922px) {
      background: none !important;
      color: #82c8bd !important;
    }
  }
}